@font-face {
  font-family: 'TeX Gyre Pagella';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/texgyrepagella-regular.otf') format('opentype');
  src: local('TeX Gyre Pagella'),
       local('TeXGyrePagella-Regular'),
       url('../fonts/texgyrepagella-regular.woff2') format('woff2'),
       url('../fonts/texgyrepagella-regular.woff') format('woff');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/texgyrepagella-italic.otf') format('opentype');
  src: local('TeX Gyre Pagella Italic'),
       local('TeXGyrePagella-Italic'),
       url('../fonts/texgyrepagella-italic.woff2') format('woff2'),
       url('../fonts/texgyrepagella-italic.woff') format('woff');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/texgyrepagella-bold.otf') format('opentype');
  src: local('TeX Gyre Pagella Bold'),
       local('TeXGyrePagella-Bold'),
       url('../fonts/texgyrepagella-bold.woff2') format('woff2'),
       url('../fonts/texgyrepagella-bold.woff') format('woff');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/texgyrepagella-bolditalic.otf') format('opentype');
  src: local('TeX Gyre Pagella Bold Italic'),
       local('TeXGyrePagella-BoldItalic'),
       url('../fonts/texgyrepagella-bolditalic.woff2') format('woff2'),
       url('../fonts/texgyrepagella-bolditalic.woff') format('woff');
}
