---
---

@import "{{ site.theme }}";

@media print, screen and (min-width: 960px) {
  
  .wrapper {
    width:1000px;
    margin:0 auto;
  }
  
  section {
    width:700px;
    float:right;
    padding-bottom:50px;
  }
}

a:hover, a:focus {
  color:#069;
  font-weight:inherit;
  text-decoration:underline;
}
